@font-face {
	font-family:"nanum";
	src:url("../fonts/NanumGothic.eot");
	src:url("../fonts/NanumGothic.eot?#iefix") format("embedded-opentype"),
	    url("../fonts/NanumGothic.woff") format("woff");
}