.wrap{position: relative;}

/*header*/
#header{position: absolute; left: 0; top: 0; width: 100%; height: 70px; padding: 20px 10px;}
.logo{width: 100px; margin: 0 auto;}
.logo a{display: block;}
.logo a img{width: 100%;}
.util-menu{position: relative; top: -38px; float: left;}
.util-menu ul{}
.util-menu ul li{float: left; padding: 10px;}
.util-menu ul li a{font-size: 14px; color:#fff; }
.etc-menu{position: relative; top: -38px; float: right;}
.etc-menu ul{padding: 0 10px;}
.etc-menu ul li{float: left; padding: 10px 0; }
.etc-menu ul li:first-child:after{display: inline-block; content:'/'; margin: 0 3px; color: #fff;  }
.etc-menu ul li a{font-size: 14px; color: #fff;}

.inner-min940{width: 940px; margin: 0 auto; }

/*contents*/
#containter{height: 100%;}
#contents{width: 100%;}
.main{width: 100%; height: 820px; background: url(../images/bg00.jpg) no-repeat;}
.main .inner-min940{padding-top: 140px; text-align: center;} 
.main .inner-min940 .date{display: inline-block; width: 170px; height: 33px; border: 1px solid #fff; border-radius: 20px; line-height: 31px; font-size: 16px; color: #fff;}
.main .inner-min940 h2{margin-top: 50px; font-size: 77px; color: #fff;}
.main .inner-min940 h2 strong{color: #6b12ff;}
.main .inner-min940 p{font-size: 26px; color: #fff;}
.main .inner-min940 .main-img{position: relative; margin-top: 125px;}
.main .inner-min940 .main-img img{width: 100%;}
.main .inner-min940 .main-img span{position: absolute; font-size: 15px; }
.main .inner-min940 .main-img span:nth-of-type(1){left: 0; top: 50px; color: #fff;}
.main .inner-min940 .main-img span:nth-of-type(2){left: 40px; bottom: 27px; }
.main .inner-min940 .main-img span:nth-of-type(3){left: 250px; top: 10px; color: #fff;}
.main .inner-min940 .main-img span:nth-of-type(4){left: 410px; bottom: -10px; }
.main .inner-min940 .main-img span:nth-of-type(5){right: 103px; bottom: 20px; text-align: right;}
.main .inner-min940 .main-img span:nth-of-type(6){right: 0; top: 30px; color: #fff;}

/*video*/
.video{position: relative;}
.video .inner-min940{}
.video .inner-min940 h3{margin-top: 235px; font-size: 34px; text-align: center;}
.video .inner-min940>p{width: 65%; margin: 20px auto; font-size: 16px; color: #666; text-align: center;}
.video .inner-min940 .video-area{position: relative; overflow: hidden; width: 750px; height: 430px; margin: auto;}
.video .inner-min940 .video-area ul{position: absolute; left: 0; top: 0; width: 2250px;}
.video .inner-min940 .video-area ul li{float: left}
.video .inner-min940 .video-area ul li iframe{width: 750px; height: 430px; border: 5px solid #fff; border-radius: 3px; box-shadow: 6px 6px 5px rgba(0,0,0,0.5);}
.video .inner-min940 .slide-arrow{position: relative;}
.video .inner-min940 .slide-arrow span{position: absolute; left: 50%; top: -238px; cursor: pointer;}
.video .inner-min940 .slide-arrow span i{font-size: 44px; color: #fff; text-shadow: 0px 2px 6px #333}
.video .inner-min940 .slide-arrow .btn-prev{margin-left: -430px;}
.video .inner-min940 .slide-arrow .btn-next{margin-left: 410px;}
.video .inner-min940 .event-area{width: 740px; margin: 45px auto; }
.video .inner-min940 .event-area > span{color: #fff;}
.video .inner-min940 .event-area > span:before,
.video .inner-min940 .event-area > span:after{display: inline-block; content:''; width: 38%; height: 1px; background: #fff;}
.video .inner-min940 .event-area > span:before{margin-right: 4%;}
.video .inner-min940 .event-area > span:after{margin-left: 5%;}
.video .inner-min940 .event-area .event-step{margin: 45px auto; padding: 30px 25px; background: rgba(48,37,65, 0.4); }
.video .inner-min940 .event-area .event-step ol{}
.video .inner-min940 .event-area .event-step ol li{float: left; width: 22%; margin-right: 4%;}
.video .inner-min940 .event-area .event-step ol li:last-child{margin-right: 0;}
.video .inner-min940 .event-area .event-step ol li span{font-size: 30px; color: #fff; text-transform: uppercase;}
.video .inner-min940 .event-area .event-step ol li span:after{display: inline-block; content:'>'; margin-left: 33px; font-weight: 100; color: #fff; }
.video .inner-min940 .event-area .event-step ol li span strong{font-weight: 600; color: #fff;}
.video .inner-min940 .event-area .event-step ol li p{margin-top: 25px; font-size: 15px; color: #fff;}
.video .inner-min940 .event-area .event-write{display: inline-block; float: left; width: 66%; font-size: 14px; color: #fff;}
.video .inner-min940 .event-area .event-write:before,
.video .inner-min940 .event-area .event-write:after{display: none;}
.video .inner-min940 .event-area .event-write strong{display: block; font-size: 16px; color: #fff;}
.video .inner-min940 .event-area a{display: inline-block; float: right; width: 162px; margin-top: 13px; padding: 10px; font-size: 14px; color: #fff; text-align: center; background: #6b12ff; border-radius: 4px;}
.video .bg-gradient{position: absolute; top: 400px; z-index: -1; width: 100%; height: 740px; background: linear-gradient(60deg, #917bbe 0%, #8ed3d5 100%);}

/*event*/
.event{background: #302541;}
.event .inner-min940{padding: 80px 0; }
.event .inner-min940 .event-clock{padding:0 95px}
.event .inner-min940 .event-clock .date{display: block; margin-bottom: 20px; color: #fff; font-size: 18px; text-align: center;}
.event .inner-min940 .event-clock h3{margin-bottom: 40px; font-size: 46px; color: #fff; text-align: center;}
.event .inner-min940 .event-clock .clock-area{margin-bottom: 40px;}
.event .inner-min940 .event-clock .search-area{width: 690px; margin: 0 auto 45px; text-align: center;}
.event .inner-min940 .event-clock .search-area span{display: inline-block; color: #fff;}
.event .inner-min940 .event-clock .search-area .search-txt{opacity: 0.5;}
.event .inner-min940 .event-clock .search-area .search-box{width: 390px; margin-left: 20px; padding: 5px 10px; background: #fff; border: 3px solid #08b700; color: #333; text-align: left;}
.event .inner-min940 .event-question{padding: 55px 100px; background: #241c31;}
.event .inner-min940 .event-question h4{margin-bottom: 25px; font-size: 22px; color: #fff; text-align: center;}
.event .inner-min940 .event-question h4 strong{font-size: 26px; font-weight: 600; color: #fff;}
.event .inner-min940 .event-question .giftbox{}
.event .inner-min940 .event-question .giftbox .gift-list{position: relative; float: left; width: 30.33%; margin: 1.5%; padding: 20px 10px 10px; background: #fff; border-radius:5px;}
.event .inner-min940 .event-question .giftbox .gift-list h5{margin-bottom: 35px; font-size: 15px; color: #000;  text-align: center; }
.event .inner-min940 .event-question .giftbox .gift-list .gift-imgbox{display: table-cell; vertical-align: middle; width: 100%; height: 145px;}
.event .inner-min940 .event-question .giftbox .gift-list .gift-imgbox img{display: block; width: 70%; margin: 0 auto; }
.event .inner-min940 .event-question .giftbox .gift-list:last-of-type .gift-imgbox{width:204px;}
.event .inner-min940 .event-question .giftbox .gift-list:last-of-type .gift-imgbox img{width: 40%; margin: 0 auto;}

.event .inner-min940 .event-question .giftbox .gift-list span{display: block; margin-top: 15px; text-align: center;}
.event .inner-min940 .event-question .giftbox .gift-list span strong{font-size: 30px; color: #6b12ff;}
.event .inner-min940 .event-question .giftbox .gift-list .select{text-align: center;}
.event .inner-min940 .event-question .giftbox .gift-list .select:before{display: block; content:''; width: 100%; height: 1px; margin: 10px 0; background: #e6e6e6;}
.event .inner-min940 .event-question .giftbox .gift-list .select input{}
.event .inner-min940 .event-question .giftbox .gift-list .cover{position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); }
.event .inner-min940 .event-question .giftbox .gift-list .cover .sold-out{width: 102px; height: 102px; margin: 50% auto;border-radius: 50%; background: rgba(255,255,255,0.8); border: 5px solid #5c18ce; font-size: 26px; font-weight: 600; color: #5c18ce; text-align: center; line-height: 98px; transform: rotate(-30deg);}
.event .inner-min940 .event-question form{padding: 0 1.5%;}
.event .inner-min940 .event-question form .answer{width: 100%; margin: 20px 0 50px; padding: 17px; font-size: 16px; border-radius: 5px; border: none;}
.event .inner-min940 .event-question form .btn-enter{display: block; margin: 0 auto; width: 75%; padding: 20px; cursor: pointer; background: #6b12ff; font-size: 22px; color: #fff; border-radius: 5px; border: none; }

/*board*/
.board{}
.board .inner-min940{padding: 100px;}
.board .inner-min940 h3{margin-bottom: 30px; font-size: 30px;}
.board .inner-min940 > p{margin-bottom: 50px; font-size: 14px; color: #666;}
.board .inner-min940 .comment-area{position: relative; margin-bottom: 20px;}
.board .inner-min940 .comment-area form{}
.board .inner-min940 .comment-area form input{font-size: 15px;}
.board .inner-min940 .comment-area form label{margin-right: 20px;}
.board .inner-min940 .comment-area .comm-notice{position: absolute; right: 0; top: 0; cursor: default;}
.board .inner-min940 .comment-area .comm-notice:hover .balloon{display: block;}
.board .inner-min940 .comment-area .comm-notice em{font-size: 14px;}
.board .inner-min940 .comment-area .comm-notice em .fa-exclamation-circle{padding-right: 10px; color: #666;}
.board .inner-min940 .comment-area .comm-notice .balloon{display: none; position: absolute; left: -115px; top: -112px; width: 315px; height: 100px; padding: 13px; background: #fff; border: 1px solid #cecece; box-shadow: 0px 3px 4px rgba(0,0,0,0.1); filter: drop-shadow(-1px 7px 5px gray);}
.board .inner-min940 .comment-area .comm-notice .balloon:after{position: absolute; left: 50%; bottom: -10px; transform: translateX(-50%); content:''; border-top: 10px solid #fff; border-left: 10px solid transparent; border-right: 10px solid transparent;}
.board .inner-min940 .comment-area .comm-notice .balloon:before{position: absolute; left: 50%; bottom: -11px; transform: translateX(-50%); content:''; border-top: 11px solid #cecece; border-left: 11px solid transparent; border-right: 11px solid transparent;}
.board .inner-min940 .comment-area .comm-notice .balloon p{font-size: 12px; color: #666; line-height: 2;}

.board .inner-min940 .comment-area .comment-box{width: 100%; margin-top: 20px; padding: 20px 20px 10px; border: 1px solid #aaa; border-radius: 3px;}
.board .inner-min940 .comment-area .comment-box .write-name{margin-bottom: 15px; font-size: 14px;}
.board .inner-min940 .comment-area .comment-box .write-contents{}
.board .inner-min940 .comment-area .comment-box .write-contents textarea{width: 100%; height: 65px; border: none; font-size: 14px; outline-style: none;}
.board .inner-min940 .comment-area .comment-box hr{position: relative; left: -20px; width: 738px; border: 0.5px solid #e5e5e5;}
.board .inner-min940 .comment-area .comment-box .write-count{text-align: right;}
.board .inner-min940 .comment-area .comment-box .write-count span{font-size: 13px;}
.board .inner-min940 .comment-area .comment-box .write-count .text-count{margin-right: 20px;}
.board .inner-min940 .comment-area .comment-box .write-count button{width: 49px; height: 32px; cursor: pointer; background: #6b12ff; color: #fff; outline-style: none; border:none; border-radius: 3px; font-size: 13px;}
.board .inner-min940 .conlist-area{margin-bottom: 30px;}
.board .inner-min940 .conlist-area ul{}
.board .inner-min940 .conlist-area ul li{border-bottom: 0.5px solid #e6e6e6;}
.board .inner-min940 .conlist-area ul li:last-of-type{border-bottom: none;}
.board .inner-min940 .conlist-area ul li .comment-list{}
.board .inner-min940 .conlist-area ul li .comment-list div{float: left; }
.board .inner-min940 .conlist-area ul li .comment-list .cbox-cate{width: 18%; padding: 32px 0; font-size: 14px; color: #989898;}
.board .inner-min940 .conlist-area ul li .comment-list .cbox-textwrap{width: 76%; padding: 20px 0;}
.board .inner-min940 .conlist-area ul li .comment-list .cbox-textwrap span{display: block;}
.board .inner-min940 .conlist-area ul li .comment-list .cbox-textwrap .cbox-name{color: #000;}
.board .inner-min940 .conlist-area ul li .comment-list .cbox-textwrap .cbox-contents{font-size: 14px; color: #666;}
.board .inner-min940 .conlist-area ul li .comment-list .cbox-date{width: 6%; padding: 32px 0; font-size: 12px; color: #6b6771;}
.board .inner-min940 .page-wrap{}
.board .inner-min940 .page-wrap a{display: inline-block; width: 30px; height: 30px; background: #fff; border: 1px solid #cecece; border-radius: 3px; font-size: 13px; color: #6b12ff; text-align: center; line-height: 30px;}
.board .inner-min940 .page-wrap a:nth-child(3),
.board .inner-min940 .page-wrap a:nth-child(9){border: none;}
.board .inner-min940 .page-wrap a i{font-size: 16px; color: #6b12ff;}
.board .inner-min940 .page-wrap .active{background: #e9eaed; color: #302541;}

/*notice*/
.notice{background: #e9eaed;}
.notice .inner-min940{padding: 80px 0;}
.notice .inner-min940 dl{width: 740px; margin: 0 auto; line-height: 2; margin-bottom: 20px;}
.notice .inner-min940 dl dt .fa-exclamation-circle{font-size: 15px; padding-right: 8px; color: #666;}
.notice .inner-min940 dl dt {font-size: 13px;}
.notice .inner-min940 dl dd{font-size: 13px; color: #666;}
.notice .inner-min940 dl dd:before{display: inline-block; content:'-'; padding-right: 8px; }

/*coming-soon*/
.coming-soon{position: relative; background: #6b12ff;}
.coming-soon:before{position: absolute; left: 0; top: -15px; content:''; width: 100%; height: 15px; background: url('../images/bg01.png') repeat-x;}
.coming-soon .inner-min940{padding: 85px 0 63px; text-align: center;}
.coming-soon .inner-min940 p{margin-bottom: 10px; font-size: 18px; color: #fff; opacity: 0.75;}
.coming-soon .inner-min940 strong{font-size: 40px; color: #fff;}

/*footer*/
#footer{background: #000;}
#footer .inner-min940{padding: 50px 0;}
#footer .logo img{filter: opacity(0.7);}
.link-wrap{position: relative; top: -28px; margin-bottom: 20px;}
.link-wrap .link ul li{float: left;}
.link-wrap .link ul li a{font-size: 14px; color: #666;}
.link-wrap .link-left{float: left;}
.link-wrap .link-left ul li{padding-right: 60px;}
.link-wrap .link-right{float: right;}
.link-wrap .link-right ul li{padding-left: 60px;}
.contect{width: 460px; margin: 0 auto 25px;}
.contect ul{}
.contect ul li{float: left; padding: 0 21px; font-size: 14px;}
.contect ul li i{padding-right: 10px; color: #666;}
.contect ul li .fa-phone{transform: rotate(-192deg); padding-right: 0; padding-left: 6px;}
.info{width: 740px; margin: 0 auto; text-align: center;}
.info div{}
.info div span{font-size: 14px; color: #666; line-height: 2;}
.info div span:after{display: inline-block; content:''; width:1px; height:12px; margin: 0 5px ; background: #666;}
.info div span:last-child:after{display: none;}
